# ⚙️ Dependencias
/node_modules/
package-lock.json

# 🧪 Tests
/coverage/

# 🚀 Producción
/dist/
/build/
/www/

# ⚡ Capacitor
/android/
/ios/

# 💬 Archivos de entorno
.env
.env.*.local

# 🧠 Editor / IDE
.vscode/
.idea/
*.swp

# ⚙️ NX (si no usas Nx, puedes quitar estas)
.nx/
.nx/cache/

# 🍎 MacOS
.DS_Store

# ⚠️ Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ✅ Opcional - Eslint cache
.eslintcache
